@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.site-title {
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
	margin-right: 1.8rem;
}

.container--auth {
	margin: 10vh auto;
}

//makes profile pic right size and displays in circle
.profile-pic {
	max-width: 200px;
	height: auto;
	border-radius: 50%;
}

//moving the page content down a bit
.container {
	margin-top: 30px;
}

// #profile-top {
// 	background-color: #BFBFBF
// }

.delete-chip {
	opacity: .2;
	position: absolute;
	top: 4px;
    right: 4px;
    z-index: 1000;
    padding: 5px 5px 2px;
    font-size: 1.75em;
    color: #FF0000;
    a {
    	color: #FF0000;
    }
}

.img-container:hover .delete-chip {
	opacity: 1;
}