<h1>HOME IS WHERE YOUR MORGAGE PAYMENT IS SENT TO</h1>
<div><a ng-href="#!/addpin"><button ng-click="addPin()" class="btn btn-danger">+</button></a></div>
<div ng-repeat="thingy in pins">
  <!-- ng-repeat= "| filter: searchText.search | filter: isCompleted: false" -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-6"><a ng-href="#!/task/{{thingy.id}}">{{ thingy.title}}</a></div>
            <div class="col-xs-2">{{thingy.price}}</div>
            <div class="col-xs-2">{{thingy.type}}</div>            
            <!-- <div class="col-xs-1"><button ng-click="deleteTask(thingy.id)" class="btn btn-danger">X</button></div> -->
        </div>
    </div>
</div>