<h2>Pin Details</h2>
<div class="col-xs-12">
  <div class="panel-body">
    <div ng-model="pin">
      <a ng-href="{{pin.url}}"></a>
      <div class="col-xs-6"><img ng-src="{{pin.imgUrl}}" alt="broken"/></div>
      <div class="col-xs-2">{{pin.description}}</div>
      <div class="col-xs-2">{{pin.board}}</div>    
    </div>
      <!-- <div class="col-xs-1"><button ng-click="deleteTask(thingy.id)" class="btn btn-danger">X</button></div> -->
    <button class="btn btn-info"><a ng-href="#!/pin/{{pin.id}}/edit">Edit</a></button>
  </div>
</div>