<section id="profile-top">
  <div class="row">
    <h1 class="col-4">{{displayName}}</h1>
    <div class="col-8">
      <img class="profile-pic float-right" ng-src="{{photoURL}}"/>
    </div>
  </div>

  <div class="btn-toolbar">
    <div class="btn-group mr-4" role="group" aria-label="First group">
      <a ng-href="#!/addboard">
        <button class="btn btn-danger">Add Board +</button>
      </a>
    </div>
    
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <a ng-href="#!/addpin">
        <button class="btn btn-danger">Add Pin +</button>
        </a>
    </div>
    
  </div>
  <br>
  <hr>
  <div class="btn-toolbar justify-content-center">
    <div class="btn-group" role="group" aria-label="Third group">
      <button type="button" class="btn btn-outline-secondary" ng-click="toggle()">Boards</button>
      <button type="button" class="btn btn-outline-secondary" ng-click="toggle()">Pins</button>
    </div>
  </div>
</section>
<br>



<div class="card-columns">

  <div ng-show="viewPins" ng-repeat="key in pins" class="card">
    <!-- ng-repeat= "| filter: searchText.search | filter: isCompleted: false" -->
    <a ng-href="#!/pin/{{key.id}}">
      <div class="img-container">
        <img class="card-img-top img-fluid" ng-src="{{key.imgUrl}}" alt="Card image cap"/>
          <div class="delete-chip">
            <a ng-click="deletePin(key.id)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>
      </div>
      <div class="card-block">
        <h4 class="card-title">{{key.description}}</h4>
        <!-- <p class="card-text">More content would go here.</p> -->
        <p class="card-text"><small class="text-muted">Board: {{key.board}}</small></p>
      </div>
    </a>
  </div>

  <div ng-show="viewPins" ng-repeat="board in boards">
  <!-- ng-repeat= "| filter: searchText.search | filter: isCompleted: false" -->
    <div class="panel panel-default">
        <div class="panel-body">
          <a ng-href="#!/pin/{{key.id}}">
            <div class="col-xs-2">{{board.board}}</div>
            <div class="col-xs-2">{{board.board}}</div>    
          </a>
            <!-- <div class="col-xs-1"><button ng-click="deleteTask(thingy.id)" class="btn btn-danger">X</button></div> -->
        </div>
    </div>
</div>
</div>
